:root{
  --cor-verde :#64ffda;
  --cor-cinza :#8892b0;
  --cor-azul_escuro:#0a192f;
  --cor-verde_claro                                                                                                                                                                                                                                                                                                                       :rgb(0, 200, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--cor-cinza);
  background-color: var(--cor-azul_escuro);
}
a{
  text-decoration: none;
  color: var(--cor-cinza);
}
.redes{
  display: flex;
  flex-direction: column;
  position:fixed;
  align-items: center;
  transform: translate(2.8rem,22rem);
}
.redes a{
  margin-top: 20px;
  font-size: 1.5rem;
}
.redes a:hover{
  color: var(--cor-verde);
  transform: translateY(-5px);
  
  transition: 0.5s;
}
.traco{
  width: 2px;
  height: 13rem;
  background-color:#8892b0;
  margin-top: 0.8rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: 0.5s;
}
img{ 
  width: 10rem;
}
.perfil{
  margin: auto;
  display: flex;
  width: 80%;
  height: 37rem;
  justify-content: center;
  
  align-items: center;
}
.perfiltxt{
  transform: translate(-20%,-10%);
}
.nome{
  font-size: 5rem;
}
.dev{
  font-size: 3rem;
}
.perfilfoto{
  display: block;
  transform: translateY(1rem);
}
.perfilf{
  display: block;
  width: 16rem;
  border-radius: 5%;
  margin-bottom: 0.5rem;
  
  
}
.perfilfoto p {
  font-size: 2rem;
  display: inline;
  margin-left: 36px;
  transform: translateY(-500px);
  
  
}

.sobre{
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.sobred{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 1rem;
}
.sobret{
  margin-bottom: 1.5rem;
}
.sobrep{
  margin-bottom: 0.5rem;
}
.tecnologias{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin: auto;
  margin-bottom: 7rem;
}
.tecnologiasd{
  display: flex;
}
.tecnologiasp {
  font-size: 10rem;
  
  margin: 1rem;
  margin-top: 4rem;
}
.projetos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  
}
.projetosp{
  margin-bottom: 5rem;
}

.projetod{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: baseline;
  position: relative;
  width: 100%;
  height: fit-content;
  /* background-color: gray; */
  
}
.projetod img{
  border-radius: 5px;
  width: 15rem;
}
.projeto:hover{
  transform: translateY(-1rem);
  transition: 0.5s;
}

.projeto{
  margin: 20px;
  background-color: #112240;
  padding: 0.5rem;
  border-radius: 5px;
  width: 16rem;
  min-height: 17.5rem;
}
footer{
  width: 100%;
  height: 10rem;
  
}

@media screen and (max-width: 400px){
  .sobre{
    flex-direction: column-reverse;
    width: 100%;
  }
  .redes{
    transform: translate(30%,134%);
  }
  .sobred{
    width: 74%;
  }
  .perfiltxt{
    width: 100%;
    transform: translate(-10px,-40px);
    

  }
  .perfilf{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20%;
  }
  .tecnologiasp{
    margin-bottom: 0px;
    margin-top: 0px;

  }
}
